.page-fade-enter {
    opacity: 0;
}

.page-fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-out;
}

.page-fade-exit {
    opacity: 1;
}

.page-fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.transition-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}